.innerBox {
    max-width: 1200px;
    margin: 0 auto;
    /* background-color: rgba(255, 0, 0, 0.5); */
}

#mobileNav {
    display: none;
}

.gnb {
    position: fixed;
    background: #b1b1b1;
    right: 0;
    top: 155px;
    text-align: center;
    z-index: 1000;
}

.gnb>li>a {
    display: block;
    padding: 15px 10px;
    font-size: 1em;
    color: white;
}

.gnb .book>a {
    background: #00a499;
}

.gnb .top>a {
    background: #dedede;
    color: #888
}

.gnb>li>a span {
    display: block;
}

/* header */
header {
    position: absolute;
    width: 100%;
    z-index: 1000;

}

.headTop {
    padding: 0 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo {
    margin-top: 20px;
    height: 75px;
}

.logo>a {
    display: block;
    width: 150px;
}

.logo>a>img {
    width: 100%;
}

nav {}

#nav {
    display: flex;
}

#nav>li {
    margin-right: 80px;
}

#nav>li>a {
    display: block;
    color: white;
    font-size: 18px;
    font-weight: 300;
    text-decoration: none;
}

#nav>li>a:hover {
    color: #00A499;
}

.headRight {
    display: flex;
    align-items: center;
}

.search {
    position: relative;
    height: 34px;
    margin-right: 10px;
}

.search input {
    width: 36px;
    height: inherit;
    padding: 4px 10px;
    border: 1px solid #ccc;
    box-sizing: border-box;
    border-radius: 5px;
    outline: none;
    background-color: #fff;
    color: #777;
    font-size: 12px;
    transition: width .4s;
}

.search input:focus {
    width: 190px;
    border-color: #669900;
}

.search .material-icons {
    color: #00a499;
    height: 24px;
    position: absolute;
    top: 0;
    bottom: 0;
    right: 5px;
    margin: auto;
    transition: .4s;
}

header .sub-menu .search.focused .material-icons {
    opacity: 0;
}

.mLogo {
    display: none;
    width: 35px;
    margin-top: -10px;
}

.mLogo img {
    width: 100%;
    margin-top: 20px;
}

.ham {
    display: none;
}

/* mobile bottom menu */
.bottom_menu {
    display: none;
}


/* mianBanner */
#mainBanner {
    position: relative;
}


#mainBanner>.banner a {
    background-position: center 0;
}

#mainBanner>.banner img {
    width: 100%;
    filter: brightness(80%);

}

#mainBanner>.banner img:third-child {
   color: #00A499;

}


.banner {
    position: relative;
}

.bannerTitle {
    position: absolute;
    top: 30%;
    left: 50%;
    transform: translateX(-50%);
    text-align: center;
}

.bannerTitle>p {
    color: white;
    font-size: 30px;
    font-weight: 400;

}

.bannerTitle>p>span {
    font-size: 70px;
    font-weight: 400;
}

.arrow {
    position: absolute;
    left: 50%;
    bottom: 50px;
    width: 80px;
    transform: translateX(-50%);
    transition: 0.4s;
}

.arrow img {
    width: 100%;
    opacity: 0.8;
}

.arrow:hover {
    bottom: 20px;
}

/* #container */
#container section {
    padding: 100px 0;
}

.dowonWrap .textWrap {
    text-align: center;
}

.textWrap>p {
    font-size: 2em;
    line-height: 2;
}

.textWrap>p>strong {
    border-bottom: 3px solid #222;
    position: relative;
    padding-right: 25px;
}

.textWrap>p>strong::after {
    content: "";
    width: 15px;
    height: 15px;
    background: url(../images/down-arrow\ bl.png);
    display: block;
    position: absolute;
    right: 0;
    top: 25%;
    background-size: 100%;
}

.textWrap img {
    position: center;
}

.button>p {
    display: inline-block;
    margin: 10px;
    border: 1px solid black;
    border-radius: 30px;
    padding: 10px 35px 10px 20px;
    background-repeat: no-repeat;
    background-position: 90% center;
    background-size: 15px;
}

.button>.leftBtn {
    background-image: url(../images/circle.png);
}

.button>.rightBtn {
    background-color: #00a499;
    background-image: url(../images/down-arrow.png);
    border-color: #00a499;
}

.rightBtn>a {
    color: white;
}

.dowonList {
    position: relative;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-top: 80px;
}

.dowonList>li {
    width: 30%;
    position: relative;
}

.dowonList>li:hover img {
    filter: brightness(80%);
}

.dowonList>li .textBox {
    position: absolute;
    top: 50%;
    width: 100%;
    text-align: center;
    opacity: 0;
    transform: translateY(-50%);
}

.dowonList>.active .textBox {
    position: absolute;
    top: 50%;
    width: 100%;
    text-align: center;
    opacity: 0;
    transform: translateY(0);

}
.dowonList>li:hover .textBox {
    opacity: 1;
}

.dowonList>.active {
    padding-top: 60px;
}

.dowonList>li a {
    display: block;
}

.dowonList>li a img {
    display: block;
    width: 100%;
    height: auto;
    border-radius: 2%;
}

/* 적용이 안됨 */
.overlay {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: 100%;
    width: 100%;
    opacity: 0;
    transition: .5s ease;
    background-color: #008CBA;
}

.imgBox:hover .overlay {
    opacity: 1;
}

.imgBox

.text {
    color: white;
    font-size: 20px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
}


#container .title {
    text-align: center;
    font-size: 3em;
    color: black;
    margin-bottom: 60px;
}

.theme {
    position: relative;
}

/* display:flex는 justify-content:center */
.hashTag {
    font-size: 2.5em;
    display: flex;
    justify-content: center;
    color: black;
    margin-bottom: 70px;
}

.hashTag>a {
    margin: 0 10px;
    color: #888;
    text-decoration: none
}

.hashTag>a:hover {
    color: black;
    font-weight: bold;
}

.hashTag>.selected {
    color: black;
    font-weight: bold;
}

.moveBtn img {
    width: 60px;
}

.moveBtn>div {
    position: absolute;
    bottom: 320px;
}

.moveBtn>.leftBtn {
    left: -70px;
}

.moveBtn>.rightBtn {
    right: -70px;
}

.themeList {
    display: flex;
}

.themeList>li {
    padding: 0 10px;
}

.themeList>li a {
    display: block;
}

.themeList>li a img {
    width: 100%;
    border-radius: 2%;

}

.themeList>li a .textBox {
    flex: 1;
    position: relative;
    padding: 10px 25px 20px;
    word-break: keep-all;
}

.themeList>li a .star>img {
    width: 20px;
    margin-right: 5px;
}

.textBox .star {
    font-size: 1em;
    display: flex;
}


.lowestPrice>.titleWrap {
    max-width: 1700px;
    display: flex;
    justify-content: space-between;
    position: relative;
    margin: 0 auto;
}


.titleWrap>.img {
    max-width: 35%;
}

.titleWrap>.img img {
    width: 100%;
    border-radius: 0px 10px 10px 0px;
}


.photoBox {
    padding-top: 100px;
    word-break: keep-all;
    max-width: 65%;
    box-sizing: border-box;
}

.priceList {
    position: relative;
    overflow: hidden;
    padding-bottom: 50px;
}

.priceList .star img {
    width: 20px;
    margin-right: 5px;
}


.dowonList>li>a>.textBox>p{
    color: white;
    font-size: 30px;
    text-align: center;
    margin-left: 10px;
    /* margin-top: 30px; */
    
}

.dowonList>li>a>.textBox>strong{
    color: white;
    font-size: 50px;
    text-align: center;
    margin-left: 10px;
    /* margin-top: 20px; */
}

.dowonList>.active>a>.textBox>p{
    color: white;
    font-size: 30px;
    text-align: center;
}
.dowonList>.active>a>.textBox>strong{
    color: white;
    font-size: 50px;
    text-align: center;
}

.textBox>strong {
    font-size: 1.8em;
    display: block;
    margin-top: 10px;
}

.textBox>.detail {
    color: #888;
    /* 한 줄 자르기 */
    overflow: hidden;
    text-overflow: ellipsis;

    /* 여러 줄 자르기 추가 스타일 */
    word-wrap: break-word;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
}

.textBox>p {
    font-size: 1.2em;
    margin: 10px 0;
}

.textBox .more {

    margin-top: 30px;
    margin-bottom: 0px;
    color: black;
    font-weight: bold;
}

.moreImg {
    display: flex;
    margin-bottom: 10px;
}

.moreImg:nth-child(3) {
    opacity: 0;
}



.moreImg>div {
    border-radius: 10px;
    border: 1px solid #ccc;
    overflow: hidden;
}

.moreImg>.textBox {
    margin-left: 10px;
    position: relative;
    padding: 15px 25px;
    max-width: 600px;
    box-sizing: border-box;
}

.moreImg>.textBox>.room {
    position: absolute;
    right: 50px;
    bottom: 20px;
}

.moreImg>.imgList img {
    width: 100%;
}

.moreImg>.more a img {
    padding-left: 50px;
}

.titleBox>span {
    display: block;
    font-size: 4em;
    color: black;
    font-weight: 500;
}

.photoBox .titleBox>p {
    font-size: 1.3em;
    color: #888;
    margin-top: 20px;
    margin-bottom: 60px;
}

.moreImg>.titleBox>.price {
    display: flex;
}

.lowerPrice {
    position: center;
}

.moreImg .price>.highPrice {
    color: red;
    font-weight: 600;
    text-decoration: line-through;
}

.moreImg .price>.lowPrice {
    font-weight: 700;
    font-size: 1.3em;
}

.priceList .more {
    position: absolute;
    bottom: 0px;
    right: 50%;
}

.more img {
    width: 50px;

}

.loadMore {
    display: none;

}


/* footer */
footer {
    background: #041d1f;
    padding: 40px 0;
}

footer>.innerBox {
    display: flex;
    justify-content: space-between;

}

.footLogo a {
    background: white;
    display: inline-block;
}

.footLogo a img {
    width: 100px;
}

.footMiddle>.footMenu {
    display: flex;
}

.footMiddle>.footMenu>li a {
    color: white;
    font-weight: 200;
    margin-right: 20px;
}

.addWrap {
    color: #888;
    font-size: 0.8em;
    margin-top: 20px;
}

.addWrap p {
    margin-bottom: 5px;
}

.addWrap span {
    display: inline-block;
    margin-right: 15px;
    border-right: 1px solid #888;
    padding-right: 15px;
    line-height: 0.9;
}

.sns>ul {
    display: flex;
    column-gap: 10px;
}

@media screen and (max-width:767px) {


    body {
        font-size: 11px;
    }

    .headTop {
        padding: 0 20px;
        box-sizing: border-box;
    }

    .gnb {
        display: none;
    }

    .logo {
        display: none;
    }

    .like {
        display: none;
    }

    .search {
        display: none;
    }

    .ham {
        display: block;
        position: relative;
        z-index: 10000;
    }

    .ham>a {
        display: block;
        background: url(../images/ham.svg);
        width: 32px;
        height: 32px;
    }

    .ham>.on {
        background: url(../images/close32.png);
        display: block;
    }

    .bottom_menu {
        display: block;
        position: fixed; 
        bottom: 0px; 
        left: 0px; 
        width: 100%; 
        height: 50px; 
        z-index:100; 
        background-color: #ebecf0;
    }
    
    .bottom_menu > ul {
        display: flex;
        justify-content: space-around;
    }

    .bottom_menu > ul>li { 
        /* width: 100%;  */
        position: relative;
        height: 100%; 
        text-align: center; 
        padding-top: 13px;
    }
    .bottom_menu > ul>li a img {
        width: 25px;
        line-height: 45px;
    }

    #mobileNav {
        display: flex;
        width: 100%;
        padding: 25px 0px;
        align-items: center;
    }

    #mobileNav>li {
        width: 25%;
    }

    #mobileNav>li a {
        text-align: center;
    }

    #mobileNav>li img {
        width: 35px;
        height: 35px;
        display: block;
        margin: 0 auto;
    }

    #mobileNav span {
        font-size: 15px;
        display: block;
        margin-top: 10px;
    }

    .mLogo {
        display: block;
    }

    nav {
        width: 100%;
        position: fixed;
        right: 0;
        top: 0;
        height: 100vh;
        z-index: 9999;
        background-color: black;
        transform: translateX(100%);
        transition: 0.5s;
        padding-top: 50px;
    }

    #nav {
        display: block;

    }

    #nav>li {
        margin-right: 0;
        border: 0;
        border-bottom: 0.5px solid #8c8c8c;
        box-sizing: border-box;
    }

    #nav>li>a {
        display: block;
        color: #f5f5f5;
        font-size: 20px;
        letter-spacing: -1.4px;
        font-weight: 500;
        text-decoration: none;
        line-height: 50px;
        box-sizing: border-box;
        text-indent: 20px;

    }

    #mobileNav a {
        color: #f5f5f5
    }

    .activeNav {
        transform: translateX(0) !important;
    }

    .arrow img {
        padding-left: 26px;
        width: 50%;
    }

    .bannerTitle {
        top: 37%;
    }

    .bannerTitle>p {
        color: white;
        font-size: 15px;
        font-weight: 500;
        line-height: 33px;
    }

    .bannerTitle>p>span {
        font-size: 20px;
        font-weight: 500;
    }

    #container {
        padding-top: 40px;
    }

    #container section {
        padding: 0 0 100px;
    }

    .dowonList>li .textBox {
        transform: translateY(-80%);
    }
    

    .dowonList>li>a>.textBox>p{
        color: white;
        font-size: 15px;
        text-align: center;
        margin-left: 10px;
    }
    
    .dowonList>li>a>.textBox>strong{
        color: white;
        font-size: 30px;
        text-align: center;
        margin-left: 10px; 
    }

    .dowonList>.active>a>.textBox>p{
        color: white;
        font-size: 10px;
        text-align: center;
    }
    .dowonList>.active>a>.textBox>strong{
        color: white;
        font-size: 30px;
        text-align: center;
    }


    .textWrap>p {
        font-size: 1.5em;
    }

    .textWrap>p>strong {
        border-bottom: 1px solid #222;
    }

    .textWrap i img {
        width: 24px;
    }

    .hashTag {
        font-size: 1.7em;
        margin-bottom: 30px;
    }

    .themeList {
        width: 100%;
    }

    .themeList>li {
        width: 330px!important;
    }

    .themeList>li a {
        display: flex;
        flex-direction: column;
    }

    .themeList .imgBox {
        width: 100%;
    }

    .bx-controls-direction {
        display: none;
    }

    .lowestPrice>.titleWrap {
        display: block;
        width: 100%;
    }

    .titleWrap>.img {
        max-width: 100%;
        background: black;
    }

    .titleWrap>.img img {
        opacity: 0.6;
    }

    .photoBox {
        max-width: 100%;
    }

    .photoBox>.titleBox {
        position: absolute;
        top: 100vw;
        left: 0;
        text-align: right;
        box-sizing: border-box;
        padding-right: 35px;
        width: 100%;
    }

    .photoBox .titleBox>p {
        color: white;
        font-weight: 100;
    }

    .titleBox>span {
        font-size: 2em;
        color: white;

    }

    .moreImg>.imgList img {

        height: 100%;
    }

    .textBox .more {
        font-size: 1em;
        position: absolute;
        right: 20px;
        top: 10px;
        margin-top: 0;
    }

    .star img {
        width: 15px;
        padding-right: 5px;
    }

    .priceList {
        padding: 0 20px;
    }

    .loadMore {
        display: block;
        text-align: center;
        margin-top: 40px
    }

    .loadMore a {
        color: black;
        font-size: 14px;
        text-decoration: none;
    }

    .moreImg:nth-child(3) {
        opacity: 0;
    }

    .priceList .more {
        display: none;
    }

    .moveBtn>div {
        display: none;
    }

    footer>.innerBox {
        display: block;
        text-align: center;
    }

    .footLogo a img {
        width: 50px;
    }

    .footMiddle>.footMenu,
    .sns>ul {
        justify-content: center;
        margin-top: 10px;
    }


}

@media screen and (max-width:640px) {


    .bannerTitle>p {
        color: white;
        font-size: 1.1em;
        font-weight: 500;
        line-height: 22px;
    }

    .bannerTitle>p>span {
        font-size: 1.2em;
        font-weight: 500;
    }

    .arrow img {
        width: 40%;
    }

    .themeList li {
        width: 280px!important;
    }
    .themeList .imgBox {
        width: 100%;
        overflow: hidden;
    }

    .textBox>.detail {
        display: none;
        -webkit-line-clamp: 2;
    }
}

@media screen and (max-width:510px) {

    .bannerTitle {}

    .bannerTitle>p {
        color: white;
        font-size: 1em;
        font-weight: 400;
        line-height: 22px;
    }

    .bannerTitle>p>span {
        font-size: 1.1em;
        font-weight: 400;
    }

    .arrow img {
        display: none;
    }

    .themeList>li a .textBox {
        padding: 10px;
    }

    .textBox>.detail {
        -webkit-line-clamp: 2;
    }

    .moreImg>.textBox {
        margin-left: 0;
        padding-bottom: 18px;
        border: 0;
    }

}

@media screen and (max-width:480px) {

    .textWrap>p {
        display: inline;
    }

    .textBox>strong {
        font-size: 1.4em;
        margin-bottom: 10px;
    }

    #container .title {
        font-size: 2em;
    }

    .moreImg {
        display: block;
    }

    .dowonList>li>a>.textBox>p{
        color: white;
        font-size: 10px;
        text-align: center;
        margin-left: 5px;
    }
    
    .dowonList>li>a>.textBox>strong{
        color: white;
        font-size: 20px;
        text-align: center;
        margin-left: 5px; 
    }

    .dowonList>.active>a>.textBox>p{
        color: white;
        font-size: 10px;
        text-align: center;
    }
    .dowonList>.active>a>.textBox>strong{
        color: white;
        font-size: 20px;
        text-align: center;
    }


    .textBox>.detail {
        -webkit-line-clamp: 1;
    }

    .moreImg>.imgList img,
    .themeList>li a img {
        height: 100%;
    }

    .themeList>li a .star>img {
        width: 15px;
        margin-right: 0;
    }

    .hashTag {
        font-size: 1.2em;
    }

}